body { background: #a0a756; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 37px; display: flex; }
.block-database-0 { color: #6a3b9; font-size: 16px; margin-bottom: 5px; }
.block-order-1 { color: #bac14b; font-size: 20px; margin-bottom: 5px; }
.block-router-2 { color: #b8d4b6; font-size: 20px; margin-bottom: 5px; }
.block-cart-3 { color: #a45df; font-size: 17px; margin-bottom: 5px; }
.block-cluster-4 { color: #d22e4c; font-size: 12px; margin-bottom: 5px; }